In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn import tree,metrics, ensemble, neural_network, naive_bayes, neighbors, svm

In [4]:
filepath = "/content/sample_data/cars.csv"
df = pd.read_csv('/content/sample_data/cars.csv',na_values=['',' '])
df.head()

,mpg,cylinders,cubicinches,hp,weightlbs,time-to-60,year,brand
0,14.0,8,350.0,165,4209.0,12,1972,US.
1,31.9,4,89.0,71,1925.0,14,1980,Europe.
2,17.0,8,302.0,140,3449.0,11,1971,US.
3,15.0,8,400.0,150,3761.0,10,1971,US.
4,30.5,4,98.0,63,2051.0,17,1978,US.

In [5]:
file=pd.read_csv('/content/sample_data/cars.csv',sep=r'\s*,\s*',header=0, encoding='ascii', engine='python')
print(file.columns.tolist())

['mpg', 'cylinders', 'cubicinches', 'hp', 'weightlbs', 'time-to-60', 'year', 'brand']

In [6]:
target_col=LabelEncoder()
file['brand_numeric']=target_col.fit_transform(file['brand'])
file=file.drop(['year','brand'],axis="columns")

In [7]:
inputs=file.drop('brand_numeric', axis="columns")
inputs=np.nan_to_num(inputs)

In [8]:
targets=file['brand_numeric']

In [21]:
XTrain, XTest, YTrain, YTest=train_test_split(inputs, targets, test_size=0.2, random_state=1)

Decision Tree model

In [22]:
decision_tree=tree.DecisionTreeClassifier()
decision_tree.fit(XTrain,YTrain)
y_decision_tree=decision_tree.predict(XTest)
accuracy_dt=[metrics.accuracy_score(YTest, y_decision_tree)]

Random forest

In [23]:
randomforest=ensemble.RandomForestClassifier()
randomforest.fit(XTrain, YTrain)
y_randomforest=randomforest.predict(XTest)
accuracy_rf=[metrics.accuracy_score(YTest, y_randomforest)]

Neural network

In [24]:
neuralNetwork=neural_network.MLPClassifier()
neuralNetwork.fit(XTrain, YTrain)
y_neuralNetwork=neuralNetwork.predict(XTest)
accuracy_nn=[metrics.accuracy_score(YTest, y_neuralNetwork)]

Naive Bayes

In [27]:
naive_bayes=naive_bayes.GaussianNB()
naive_bayes.fit(XTrain, YTrain)
y_naive_bayes=naive_bayes.predict(XTest)
accuracy_nb=[metrics.accuracy_score(YTest, y_naive_bayes)]

K - NN

In [41]:
KNN=neighbors.KNeighborsClassifier(n_neighbors=3)
KNN.fit(XTrain, YTrain)
y_knn=KNN.predict(XTest)
accuracy_knn=[metrics.accuracy_score(YTest, y_knn)]

SVM algorithm

In [29]:
SVM=svm.SVC()
SVM.fit(XTrain, YTrain)
y_svm=SVM.predict(XTest)
accuracy_svm=[metrics.accuracy_score(YTest, y_svm)]

In [42]:
print("Accuracy of decision_tree algorithm is: ", accuracy_dt)
print("Accuracy of random_forest algorithm is: ", accuracy_rf)
print("Accuracy of neural_network algorithm is: ", accuracy_nn)
print("Accuracy of naive_bayes algorithm is: ", accuracy_nb)
print("Accuracy of knn algorithm is: ", accuracy_knn)
print("Accuracy of Svm algorithm is: ", accuracy_svm)

Accuracy of decision_tree algorithm is:  [0.7735849056603774]
Accuracy of random_forest algorithm is:  [0.8490566037735849]
Accuracy of neural_network algorithm is:  [0.5660377358490566]
Accuracy of naive_bayes algorithm is:  [0.6981132075471698]
Accuracy of knn algorithm is:  [0.7169811320754716]
Accuracy of Svm algorithm is:  [0.6226415094339622]